.product {
    @include flexer(column, center, center, 15px);

    &__info {
        text-align: center;
        @include flexer(column, flex-start, center, 15px);

        span {
            @include font(700, $text, center);
        }
    }

    &__preview {
        @include flexer(column, center, flex-start, 10px);
        margin: 30px 0;
    }

    &__image {
        position: relative;
        @include box(100%);
    }

    &__btn {
        @include flexer(row, center, center);
        @include responsive-spacing(padding, .01);
        @include box(auto, 2rem);
        background-color: $text;
        color: $background;
        border-radius: 10px;
    }
}

.product__buttons {
    @include flexer(row, unset, center, 15px);
}

.product__modal {
    @include abs-position (fixed, 0, 0, null, null);
    @include flexer(row, center, center);
    @include fade(hide);
    @include box(100%);
    background-color: $modal;
    transition: $transition;
    z-index: 99;

    &.active {
        @include fade(show);
    }

    &-next,
    &-prev {
        @include btn;
        z-index: 99;
        position: absolute;
    }

    &-prev {
        left: 10px;
    }

    &-next {
        right: 10px;
    }

    &-img {
        width: 100%;
        max-width: 300px;
        background-color: white;
        border-radius: 20px;
        z-index: 15;
        scale: 1;
        transition: all 0.3s ease-in-out;

        &:first-child,
        &:last-child {
            scale: .65;
            z-index: 10;
            filter: brightness(.7);
        }

        &:first-child {
            transform: rotate(-15deg) translate(35%, 15%);
        }

        &:last-child {
            transform: rotate(15deg) translate(-35%, 15%);
        }
    }
}

// @include breakpoint(small) {
//     .product__modal-img {
//         max-width: 500px;
//     }
// }

// @include breakpoint(medium) {
//     .product__modal-img {
//         max-width: 700px;
//     }
// }


.product__cart,
.product__heart {
    @include flexer(row, center, center);
    @include font(unset, $background, unset);
    @include box(3rem);
    background-color: $text;
    padding: 10px 0;
    border-radius: 100px;
}

.product__cart {
    @include box(auto, 3rem);
    flex: 1;
}

.thumbnail-active {
    @include box(100%, 400px);
    object-fit: contain;
    object-position: center;
    border-radius: 15px;
    background-color: #f2f2f2;
    cursor: zoom-in;
}

.thumbnail {
    @include box(100%);
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    background-color: #f2f2f2;
    cursor: pointer;
}



.product__name {
    @include font(unset, color, unset);
    display: none;
}

.product__price {
    display: none;
    @include font(700, $text, unset);

    & del {
        text-decoration: line-through;
        font-weight: 300;
        margin-right: 10px;
    }
}

.product__nails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.product__image-prev,
.product__image-next {
    @include box(50px);
    background-color: $text;
    color: $background;
    font-weight: bold;
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 100px;
}

.product__image-prev {
    @include abs-position(absolute, 50%, auto, auto, 10px);
}

.product__image-next {
    @include abs-position(absolute, 50%, 10px, auto, auto);
}


// @include breakpoint(tablet) {
//     .product__preview {
//         @include flexer(row-reverse, center, flex-start, 10px);
//     }

//     .product__nails {
//         @include flexer(column, center, flex-start, 10px);
//     }

//     .thumbnail {
//         @include box(60px);
//         object-fit: cover;
//         object-position: center;
//         border-radius: 15px;
//         background-color: white;
//         cursor: pointer;
//     }

//     .product {
//         grid-template-columns: 1fr 1fr;
//         gap: 20px;

//         &__price-mobile,
//         &__name-mobile {
//             display: none;
//         }

//         &__price,
//         &__name {
//             display: block;
//         }

//         &__preview {
//             margin: 0;
//         }
//     }
// }


.product__count {
    @include flexer(row, center, center, 10px);
    border-radius: 10px;
    border: 1px solid $text;
    @include responsive-spacing(padding, .0001);
}

#count {
    width: 30px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    text-align: center;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}

#countDecrease,
#countIncrease {
    @include flexer(row, center, center);
    background-color: $text;
    border-radius: 100%;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
        scale: .7;
        stroke: $background;
    }
}