header {
    border-bottom: 1px solid $text;
}

.header {
    position: relative;
    @include flexer(column, space-between, center, 15px);
    gap: 15px;
    transition: $transition;
    padding: 0;
    width: 100%;
    padding-bottom: 15px;

    @include breakpoint(extra-small) {
        @include flexer(row, space-between, center, 10px);
        padding: clamp(10px, 1vw, 50px);
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint(large) {
        gap: 50px;
        padding: 0;
    }

    &__buttons {
        @include flexer(row, space-between, center, 15px);
        // width: 100%;

        @include breakpoint(small) {
            @include flexer(row, center, center, 10px);
            width: auto;
        }
    }

    &__top {
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
        color: $background;

        &--flex {
            @include flexer(row, space-between, center, 20px);
            width: 100%;
            @include responsive-spacing(padding, 0.01);

            @include breakpoint(medium) {
                padding: 0;
                @include responsive-spacing(padding-top, 0.001);
                @include responsive-spacing(padding-bottom, 0.001);
            }
        }

        button {
            @include responsive-spacing(padding, 0.0001);
            border-radius: 10px;
            background-color: $background;
            color: $text;
            cursor: pointer;
        }
    }
}

.logo {
    @include font(900);
    @include box(5rem, 100%);
    font-family: 'Dancing-Script', cursive;
    transition: $transition;
}

.search__open {
    @include btn;
}

.search {
    @include abs-position (fixed, 0, unset, unset, 0);
    @include flexer(row, center, flex-start);
    @include fade(hide);
    @include box(100%);
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
    backdrop-filter: blur(2px);

    &.active {
        @include fade(show);
    }

    &__content {
        @include flexer(row, center, center, 20px);
        @include responsive-spacing(padding, 0.01);
        @include responsive-spacing(padding-left, 0.03);
        @include responsive-spacing(padding-right, 0.03);
        @include box(100%, auto);
        transition: $transition;
        background-color: $background;

        button {
            @include btn;
        }

        @include breakpoint(small) {
            @include box(90%, auto);
            border-radius: 0 0 15px 15px;
        }

        @include breakpoint(medium) {
            @include box(80%, auto);
            border-radius: 0 0 15px 15px;
        }
    }

    &__input {
        @include box(100%, 50px);
        flex: 1;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid darken(#1a691a, 10%);
        outline: none;
    }
}




.menu {
    @include flexer($align-items: flex-start);

    @include breakpoint(large) {
        @include fade(show);
        position: relative;
        width: 100%;
        background-color: $background;
    }

    &__list {

        @include flexer(column, flex-start, center, 10px);
        padding-top: 120px;

        @include breakpoint(large) {
            @include fade(show);
            @include flexer(row, center, center, 50px);
            transform: unset;
            position: relative;
            background-color: transparent;
            padding: 0;
            margin: 0 auto;
        }

        li {
            width: 90%;

            @include breakpoint(large) {
                width: min-content;
            }
        }
    }

    &__link {
        color: darken(#1a691a, 10%);
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
        width: 100%;
        border-bottom: 1.5px solid darken(#1a691a, 10%);
        @include flexer(row, space-between, center);


        @include breakpoint(large) {
            font-size: unset;
            border: none;
            display: block;
            width: min-content;
        }
    }

    &__item {
        @include flexer(row, space-between, center);
        width: 100%;
        border-bottom: 1.5px solid darken(#1a691a, 10%);

        @include breakpoint(large) {
            border-bottom: none;
            width: min-content;
        }

        a {
            color: darken(#1a691a, 10%);
            font-size: 25px;
            font-weight: 500;
            cursor: pointer;

            @include breakpoint(large) {
                font-size: unset;
            }
        }

        button {
            @include flexer(row, center, center, 15px);
            border: none;
            background-color: transparent;

            svg {
                stroke: $text;
            }
        }

        @include breakpoint(large) {
            font-size: unset;
            transform: unset;
            padding: 0;

        }
    }



    &__sub {
        display: grid;
        grid-template-rows: 0;

        &--wrapper {
            overflow: hidden;
            height: 0;
            transition: all .6s ease-in-out;
        }

        &--list {
            transition: $transition;
            @include flexer(column, space-between, flex-start);
            padding-left: 15px;
        }

        &--item {
            cursor: pointer;
            border-left: 1px solid darken(#1a691a, 10%);
            padding: 30px;
            color: darken(#1a691a, 10%);
            position: relative;

            &::after {
                content: "";
                @include box(10px, 1px);
                background-color: darken(#1a691a, 10%);
                @include abs-position (absolute, 50%, unset, unset, 0);
                transform: translateY(-50%);
            }
        }

        &.active {
            display: grid;
            grid-template-rows: 1fr;

            @include breakpoint(large) {
                position: fixed;
                top: 100%;
                background-color: $background;
                border-radius: 0 0 10px 10px;
            }

            &>.menu__sub--wrapper {
                height: 100%;
            }
        }
    }
}

#menuOpen {
    @include breakpoint(large) {
        display: none;
    }
}

.heart {
    @include btn;
}