header {
    border-bottom: 1px solid $text;
}

.header {
    position: relative;
    @include flexer(column, space-between, center, 15px);
    gap: 15px;
    transition: $transition;
    padding: 0;
    width: 100%;
    padding-bottom: 15px;

    @include breakpoint(extra-small) {
        @include flexer(row, space-between, center, 10px);
        padding: clamp(10px, 1vw, 50px);
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint(large) {
        gap: 50px;
        padding: 0;
    }

    &__buttons {
        @include flexer(row, space-between, center, 15px);
        // width: 100%;

        @include breakpoint(small) {
            @include flexer(row, center, center, 10px);
            width: auto;
        }
    }

    &__top {
        background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
        color: $background;

        &--flex {
            @include flexer(row, space-between, center, 20px);
            width: 100%;
            @include responsive-spacing(padding, 0.01);

            @include breakpoint(medium) {
                padding: 0;
                @include responsive-spacing(padding-top, 0.001);
                @include responsive-spacing(padding-bottom, 0.001);
            }
        }

        button {
            @include responsive-spacing(padding, 0.0001);
            border-radius: 10px;
            background-color: $background;
            color: $text;
            cursor: pointer;
        }
    }
}

.logo {
    @include font(900);
    @include box(5rem, 100%);
    font-family: 'Dancing-Script', cursive;
    transition: $transition;
}

.search {
    @include btn;
    @include abs-position(absolute, 50%, -1.5px, auto, auto);
    transform: translateY(-50%);
    z-index: 1;

    &-box {
        @include box(45px);
        position: relative;
        border-radius: $border-radius-big;
        background-color: transparent;
        transition: $transition;

        &.active {
            width: 100%;
            grid-column: 1/max-content;

            @include breakpoint(large) {
                width: 500px;
            }
        }

        input {
            @include box(100%, 45px);
            @include fade(hide);
            @include font(100, $secondary);
            border: none;
            border-radius: $border-radius-big;
            background: transparent;
            outline: none;
            opacity: 0;
            background-color: $text;
            color: $background;

            &.active {
                @include fade(show);
                padding: 0 60px 0 20px;
            }

            &::placeholder {
                color: $background;
                font-weight: 100;
            }
        }
    }
}

.menu {
    @include flexer($align-items: flex-start);


    @include breakpoint(large) {
        @include fade(show);
        position: relative;
        width: 100%;
        background-color: $background;
    }

    &__list {
        @include flexer(column, center, center, 30px);

        @include breakpoint(large) {
            @include fade(show);
            @include flexer(row, center, center, 30px);
            transform: unset;
            position: relative;
            background-color: transparent;
            padding: 0;
            margin: 0 auto;
        }
    }

    &__item {
        color: darken(#1a691a, 10%);
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;

        @include breakpoint(large) {
            font-size: unset;
            transform: unset;
            padding: 0;
        }
    }
}

#menuOpen {
    @include breakpoint(large) {
        display: none;
    }
}

.heart {
    @include btn;
}