.cookie {
    @include abs-position (fixed, unset, 0, 0, 0);
    @include responsive-spacing(padding, 0.01);
    @include flexer(column, space-between, center, 20px);
    transition: $transition;
    background-color: $text;
    z-index: 9999;

    @include breakpoint(small) {
        @include flexer(row, space-between, center, 20px);
    }

    &--text {
        @include font(300, $background, center);
        flex: 1
    }

    &--btn {
        @include responsive-spacing(padding, 0.001);
        width: 100%;
        border: 2px solid $background;
        cursor: pointer;
        background-color: transparent;
        color: $background;
        transition: $transition;
        border-radius: 10px;

        @include breakpoint(small) {
            width: unset;
        }
    }
}