.checking {
    width: 100%;
    @include flexer(column, center, center, 15px);

    @include breakpoint(medium) {
        display: grid;
        grid-template-columns: 1fr;
        align-items: stretch;
        gap: 15px;

    }

    &__cart {
        width: 100%;
        @include flexer(column, flex-start, center, 15px);
    }

    &__cart--items {
        @include flexer(column, flex-start, center, 15px);
        @include responsive-spacing(padding, 0.01);
        width: 100%;
        background-color: $text;
        border-radius: 10px;
        max-height: 215px;
        overflow: auto;
        scrollbar-width: thin;
        scrollbar-color: $background $text;

        @include breakpoint(medium) {
            max-height: 495px;
        }

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 0 10px 10px 0;
            background: $text;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $background;
            border-radius: 5px;
            border: 2.5px solid $text;
        }
    }

    &__wrapper {
        width: 100%;
        @include flexer(column, flex-start, flex-start, 15px);

        @include breakpoint(medium) {
            @include flexer(row-reverse, flex-start, flex-start, 15px);
        }
    }
}

.checking__content-complete {
    @extend .details__content-add;
    @extend .details__content-add--column;
}

.checking__content-price {
    @extend .details__content-add;

    @include flexer(row, space-between, center);
}

.checking__content-item {
    @include flexer(row, center, center, 15px);
    @include responsive-spacing(padding, 0.01);
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 10px;
}

.checking__content-create--text {
    grid-column: 1/3;
    text-align: center;
}

.checking__content-add--text {
    @extend .details__content-add--text;
}

.checking__accordion {
    @extend .details__accordion;
    background-color: #f2f2f2;
    border-radius: 10px;
}