.home {
    &__container {
        overflow-x: hidden;
        position: relative;
        width: 100%;
        height: 90vh;
        background-color: #f5f5f5;

        @include breakpoint(large) {
            //  content
            height: 75vh;
        }

    }

    &__video {
        @include box(100%, 500px);
        border-radius: 10px;
        position: relative;

        video {
            @include box(100%, 500px);
            object-fit: cover;
            filter: brightness(0.3);
        }

        &--text {
            @include abs-position (absolute, 50%, unset, unset, 50%);
            transform: translate(-50%, -50%);
            width: 100%;
            @include flexer(column, center, center, 35px);

            img {
                height: 70px;
                opacity: 0.5;
            }

            h1,
            span {
                color: #f2f2f2;
                text-align: center;
            }
        }

    }

    &__content {
        @include abs-position (absolute, 50%, unset, unset, 50%);
        // @include responsive-spacing(padding, 0.02);
        transform: translate(-50%, -50%);
        transition: $transition;
        display: none;
        color: #eee;
        opacity: 0;
        animation: showContentBlur .3s ease-in-out 0.3s 1 forwards;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        width: 100%;
        min-height: 310px;

        &--flex {
            @include flexer(column, center, flex-start, 20px);
        }
    }

    &__buttons {
        @include abs-position (absolute, null, null, 40px, 50%);
        @include flexer(row, center, center, 15px);
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(5px);
        @include responsive-spacing(padding, 0.0001);
        border-radius: 150px;
        z-index: 20;

        button {
            @include responsive-spacing(width, 0.3);
            @include responsive-spacing(height, 0.3);
            @include flexer(row, center, center);
            border-radius: 100%;
            border: 2px solid $background;
            background-color: transparent;
            transition: 0.5s;
        }
    }

    &__item {
        width: 200px;
        height: 300px;
        background-position: center center;
        display: inline-block;
        transition: 0.5s;
        background-size: cover;
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 20px;
        box-shadow: 0 30px 50px $text;

        h2 {
            opacity: 0;
            animation: showcontent .4s ease-in-out 0.4s 1 forwards;
            color: $background;

            @include breakpoint(medium) {
                width: 50%;
            }
        }

        p {
            opacity: 0;
            animation: showcontent .4s ease-in-out 0.4s 1 forwards;
            color: $background;

            @include breakpoint(medium) {
                width: 50%;
            }
        }

        button {
            @include responsive-spacing(padding, 0.01);
            border: none;
            opacity: 0;
            border-radius: 10px;
            animation: showcontent .4s ease-in-out 0.4s 1 forwards;
        }

        &:nth-child(2) .home__content {
            display: flex;
            z-index: 10;
        }

        &:nth-child(1),
        &:nth-child(2) {
            left: 0;
            top: 0;
            transform: translate(0, 0);
            border-radius: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px 0px 20px 7px black;
        }


        &:nth-child(3) {
            left: 100%;

            @include breakpoint(medium) {
                left: 60%;
            }
        }

        &:nth-child(4) {
            left: calc(100% + 220px);

            @include breakpoint(medium) {
                left: calc(60% + 220px);
            }
        }

        &:nth-child(5) {
            left: calc(100% + 440px);

            @include breakpoint(medium) {
                left: calc(60% + 440px);
            }
        }

        &:nth-child(n+6) {
            left: calc(100% + 660px);

            @include breakpoint(medium) {
                left: calc(60% + 660px);
            }
        }
    }
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translateX(10000px);
        scale: 0;
        filter: blur(33px);
    }

    to {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

@keyframes showContentBlur {
    from {
        width: 0;
        filter: blur(33px);
    }

    to {
        opacity: 1;
        width: 100%;
        filter: blur(0);
    }
}